.container {
	background-color: #282828;
  margin: 20px auto;
  width: 390px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  border-radius: 10px;
}

h1 {
	color: #99CCFF;
	font-family: 'Archivo Narrow', sans-serif;
}

textarea {
	font-family: 'Open Sans', sans-serif;
	color: #E0E0E0;
	background: #282828;
	border: 1px solid #99CCFF;
	border-radius: 10px;
	padding: 7px;
	width: 375px;
	height: 70px;
}

#char_remaining {
	color: #E0E0E0;
	font-size: 10px;
}

#submit {	
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #E0E0E0;
	background-color: #282828;
	margin-top: 12px;
	border: 1px solid #99CCFF;
	border-radius: 10px;
	width: 80px;
}

#submit:hover {
	cursor: pointer;
}

/*#submit:disabled {
	background-color: #282828;
}*/

#sign_out {
	font-size: 10px;
	background-color: #282828;
	border: none;
	float: right;
	margin: 0;
	padding: 0;
}

#sign_out a {
	font-family: 'Open Sans', sans-serif;
	color: #E0E0E0;
	text-decoration: none;
}

#sign_in_native {
	font-size: 14px;
	background-color: #282828;
	border: 1px solid #99CCFF;
	border-radius: 10px;
	width: 150px;
	margin-right: 42px;
}

#sign_in_twitter {	
	font-size: 14px;
	background-color: #282828;
	border: 1px solid #99CCFF;
	border-radius: 10px;
	width: 150px;
	margin-left: 42px;
}

#sign_in_native, #sign_in_twitter:hover {
	cursor: pointer;
}

#sign_in_native a, #sign_in_twitter a {
	font-family: 'Open Sans', sans-serif;
	color: #E0E0E0;
	text-decoration: none;
}


