  <div class="container">
  <h1>twitter.</h1>

  <% if @session_user %>
    <div>
      <form name="new_tweet" action="/tweet" method="POST">
        <textarea autofocus="autofocus" type="text" name="tweet" placeholder="enter 140 characters or less."></textarea>
        <input id="submit" type="submit" value="send." disabled="true">
        <span id="char_remaining">140</span>
      </form><br>
      <button id="sign_out"><a href="/sign_out"><%= strong('Sign Out') %></a></button>
    </div>
  <% else %>
    <button id="sign_in_native"><a href="/sign_in_native">Sign-in native</a></button>
    <button id="sign_in_twitter"><a href="/sign_in_twitter">Sign-in using twitter</a></button>
  <% end %>

</div>
