<form id="new_account_form" name="new_account" action="/new_account" method="POST">
	<input type="text" name="username" placeholder="username.">
	<input type="password" name="password" placeholder="password.">
	<input id="submit" type="submit" value="create.">
</form>

<a href="/"><button id="home"><%= strong('Home') %></button></a>