<form id="sign_in_native_form" name="sign_in_native" action="/sign_in_native" method="POST">
	<input type="text" name="username" placeholder="username.">
	<input type="password" name="password" placeholder="password.">
	<input id="submit" type="submit" value="sign-in.">
</form>

<a href="/new_account"><button id="new_account"><%= strong('Create New Account') %></button></a>